<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>BORT.CO</title>

<meta name="description" content="BORT.CO"/>
<meta name="author" content="Josh Russell"/>
<meta name="copyright" content="2015, Josh Russell LTD"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.0/css/foundation.min.css"/>
</head>
<body>

<div class="row">

<%= yield %>

</div>

</body>
</html>